a {
  color:green;
  text-decoration:none;
}
p {

}
h1 {

}
ul {
  color:red;
}
.customlist {
  color:purple;
}
#maintitle {
  font-family: 'Abril Fatface', cursive;
}
.customtable {
  color:orange
}
