a {
  color:blue;
  text-decoration:none;
}
ul {
  color:gray;
}
.customlist {
  color:darkgrey;
}
#maintitle {
  font-family: 'Abril Fatface', cursive;
}
#address {
  color:blue
}
.subtitle {
  font-family: 'Patua One', cursive;

}
h1:hover, td:hover {
  color:blue
}
.customtable {
  color:dimgray
}
.italic {
  color:dimgray
}
.tableheader {
  text-decoration: underline;
}
