#main {
  width: 150px
}
body {
  background-image: url('../images/gradient.jpg');
background-repeat: no-repeat;
background-size: cover;
}
nav a {
  color: white;
}
a:hover {
  color: silver;
}
#maintitle {
background: gold;
  color:white;
}
.left {
  background: white;
  color: #B6DCE9;
}
.right {
  background: silver;
  color: white;
}
a {
  color: #B6DCE9;
}
.L {
  background: white;
  color: #B6DCE9;
}
.bottom {
  background: gray;
}
.top {
  background: white;
}
.M {
  background: silver;
color: white;
}
.R {
  background: grey;
  color: white;
}
