body {margin: 0, padding:0}
.wrapper {
  display: block;
  width: 100%;
  max-width: 1000px;
  min-height: 10px;
  margin-left: auto;
  margin-right: auto;
}
nav {
  display: block;
}
.navlinks {
  list-style-type: none;
}
.navlinks li {
  display: inline;
}
.navlinks a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
ul li {
  list-style-type: none;
  display: inline;
}
ul li a:hover {
background-position: top;

}
